.nav__list {
  padding: 0;
  list-style: none;
  display: flex;
}

.nav__item {
  display: flex;
}

.nav__link {
  padding: 12px 20px;
  text-decoration: none;
  color: var(--color-dark);
  transition: color 0.3s;
  border-radius: 5px;

  &:hover {
    color: var(--color-accent-dark);
    background: radial-gradient(
      ellipse,
      rgb(44 62 80 / 0.1) 0%,
      rgb(44 62 80 / 0.03) 100%
    );
  }
}