.nav__list {
  padding: 0;
  list-style: none;
  display: flex;
}

.nav__link {
  padding: 12px 20px;
  text-decoration: none;
  color: var(--color-dark);
  transition: color 0.3s;

  &:hover {
    color: var(--color-accent);
    text-shadow: 0 1px 1px var(--color-accent);
    background: radial-gradient(
      ellipse,
      rgb(255 145 76 / 0.2) 0%,
      rgb(255 145 76 / 0.05) 100%
    );
  }
}

@media (width <= 600px) {
  .nav__list {
    flex-direction: column;
    gap: 10px;
  }

  .nav__link {
    padding: 10px 15px;
    text-align: center;
  }
}