.header {
  background: var(--color-bg-main);
  border-bottom: 1px solid #eeeeee;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header__container {
  display: flex;
  align-items: center;
  height: 100%;
}

.header__logo {
  margin-inline-end: 10px;
  font-size: 1.5em;
  font-weight: 700;
  color: var(--color-dark);
  text-decoration: none;
}

.header__actions {
  margin-left: auto;
  padding: 10px 0;
}

@media (width <= 450px) {
  .header__nav {
    display: none;
  }
}