<section class='contacts' id='contacts'>
  <div class='contacts__map-wrapper'>
    <div class='contacts__address-on-map'>
      <h3 class='heading-3'>Адрес и контакты</h3>
      г. Ярославль, ул. Свободы, 55<br>
      "Ринг Премьер Отель"
      <ul class='contacts__list'>
        <li class='contacts__item'>📱 8-999-797-4470 — Екатерина Челина</li>
        <li class='contacts__item'>✉️ bulinke@mail.ru</li>
        <li class='contacts__item'>
          🔗
          <a
            href='https://vk.com/repetitor_successful'
            target='_blank'
            rel='noopener'
            class='contacts__link'
            >ВК: Сообщество репетиторов</a
          >
        </li>
        <li class='contacts__item'>
          🔗
          <a
            href='https://vk.com/fanatiki_matematiki'
            target='_blank'
            rel='noopener'
            class='contacts__link'
            >ВК: Личная страница</a
          >
        </li>
      </ul>
    </div>
    <div class='contacts__map'>
      <iframe
        src='https://yandex.ru/map-widget/v1/?um=constructor%3Af2541733918c0858804324d780f4bbd2cc1ff0b0a439ea4a42748515ea67c0fe&amp;source=constructor'
        width='100%'
        height='600'
        frameborder='0'
        style='display: block'
      ></iframe>
    </div>
  </div>
</section>
