<footer class='footer'>
  <div class='container footer__inner'>
    <div class='footer__links'>
      <span class='footer__link'><a href="https://cloud.mail.ru/public/ZNhJ/7bW6f88yU" class="footer__link">Договор оферты</a></span>
      <span class='footer__link'><a href="https://cloud.mail.ru/public/TAfP/siWcNrETj" class="footer__link">Политика конфиденциальности</a></span>
    </div>
    <div class='footer__copyright'>успешный-репетитор.рф &copy; 2025</div>
  </div>
</footer>
