{% from '../nav.twig' import nav %}

<header class='header'>
  <div class='header__container container'>
    <div class='logo' aria-label='Ежегодная всероссийская конференция репетиторов'></div>
    {{ nav(common.nav) }}
    <a href='#pricing' class='button button--primary'>
      <span class='button__text'>Регистрация</span>
    </a>
  </div>
</header>
