<section class='hero section'>
  <div class='container'>
    <h1 class='hero__title heading-1'>Ежегодная всероссийская конференция репетиторов</h1>
    <p class='hero__desc'>PROдвижение репетитора: от личного бренда до налогов</p>
    <p class='hero__date'>г. Ярославль | 5 октября 2025, воскресенье</p>
    <div class="hero__actions">
      <a href='#pricing' class='button button--primary button--invert'>
        <span class='button__text'>Участвовать</span>
      </a>
      <a href='#program' class='button button--primary button--invert'>
        <span class='button__text'>Программа</span>
      </a>
    </div>
  </div>
</section>
