<section class='last-year section' id='last-year'>
  <div class='container'>
    <h2 class='heading-2'>Как это было в прошлом году</h2>
    <div class='last-year__gallery-slider'>
      <button class='last-year__gallery-arrow last-year__gallery-arrow--left' aria-label='Назад'>&#8592;</button>
      <div class='last-year__gallery-track'>
        <img
          src='img/speakers/photo_2025-08-06_22-17-12.jpg'
          alt='Фото участника 1'
          class='last-year__gallery-img'
        >
        <img
          src='img/speakers/photo_2025-08-06_21-40-56.jpg'
          alt='Фото участника 2'
          class='last-year__gallery-img'
        >
        <img
          src='img/speakers/photo_2025-08-06_22-17-12.jpg'
          alt='Фото участника 3'
          class='last-year__gallery-img'
        >
      </div>
      <button class='last-year__gallery-arrow last-year__gallery-arrow--right' aria-label='Вперёд'>&#8594;</button>
    </div>
    <div class='last-year__reviews'>
      <blockquote class='last-year__review'>
        <img
          src='https://randomuser.me/api/portraits/women/72.jpg'
          alt='Анна, репетитор по математике'
          class='last-year__review-photo'
        >
        <div class='last-year__review-content'>
          <p class='last-year__review-text'>
            "Лучшее событие года для репетиторов! Невероятная атмосфера и полезные знакомства."
          </p>
          <footer class='last-year__review-author'>- Анна, репетитор по математике</footer>
        </div>
      </blockquote>
      <blockquote class='last-year__review'>
        <img
          src='https://randomuser.me/api/portraits/men/34.jpg'
          alt='Иван, репетитор по английскому'
          class='last-year__review-photo'
        >
        <div class='last-year__review-content'>
          <p class='last-year__review-text'>
            "Я уехал с конференции с новыми идеями и инструментами, которые сразу же начал применять в работе."
          </p>
          <footer class='last-year__review-author'>- Иван, репетитор по английскому</footer>
        </div>
      </blockquote>
    </div>
    <div class='last-year__video-block'>
      <h3 class='last-year__video-title'>Видео с прошлых конференций</h3>
      <div class='last-year__video-wrapper'>
        <iframe
          class='last-year__video'
          width='560'
          height='315'
          src='https://www.youtube.com/embed/VIDEO_ID'
          title='Видео с прошлых конференций'
          frameborder='0'
          allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
        ></iframe>
      </div>
    </div>
  </div>
</section>
