<section class='pricing section' id='pricing'>
  <div class='container'>
    <h2 class='heading-2'>Стоимость участия</h2>
    <div class='dynamic-pricing'>
      <div class='dynamic-pricing__price' id='dynamic-price'>—</div>
      <div class='dynamic-pricing__desc' id='dynamic-price-desc'></div>
      <a href='https://www.tinkoff.ru/rm/r_zJLbKSrXge.KxCuyoNDdA/lfn1X94574' class='button button--primary' target='_blank'>
        <span class='button__text'>Зарегистрироваться</span>
      </a>
      <div class="dynamic-pricing__qr">
        <p>Или отсканируйте телефоном QR-код для оплаты:</p>
        <img src='/src/assets/images/qr.jpg' width='200' height='200' alt='QR' />
      </div>
    </div>
    <div class='dynamic-pricing__table'>
      <p class='heading-3'>Этапы ценообразования</p>
      <ul>
        <li id="sept10">
          До 10 сентября —
          <b>3990 ₽</b>
        </li>
        <li id="oct1">
          До 1 октября —
          <b>4990 ₽</b>
        </li>
        <li>
          До 5 октября —
          <b>5990 ₽</b>
        </li>
      </ul>
    </div>
  </div>
</section>
