<section class='pricing section' id='pricing'>
  <div class='container'>
    <h2 class='heading-2'>Стоимость участия</h2>
    <div class='dynamic-pricing'>
      <div class='dynamic-pricing__price' id='dynamic-price'>—</div>
      <div class='dynamic-pricing__desc' id='dynamic-price-desc'></div>
      <a href='#' class='button button--primary'>
        <span class='button__text'>Зарегистрироваться</span>
      </a>
    </div>
    <div class='dynamic-pricing__table'>
      <p>
        <b>Этапы ценообразования:</b>
      </p>
      <ul>
        <li>
          До 1 сентября —
          <b>3990 ₽</b>
        </li>
        <li>
          До 1 октября —
          <b>4990 ₽</b>
        </li>
        <li>
          До 5 октября —
          <b>7990 ₽</b>
        </li>
      </ul>
    </div>
  </div>
</section>
